:root {
  --container:1440px;
  --container_full:1800px;
  --main_color: rgba(63, 66, 47, 1);
  --sub_ivory: rgba(250, 245, 238, 1);
  --sub_apricot: rgba(214, 139, 48, 1);
  --sub_panBlack: rgba(51, 46, 42, 1);
  --black: rgba(17, 17, 17, 1);
  --gray_1: rgba(68, 68, 68, 1);
  --gray_2: rgba(69, 69, 69, 1);
  --gray_3: rgba(119, 119, 119, 1);
  --gray_4: rgba(221, 221, 221, 1);
  --grya_5: rgba(246, 246, 246, 1);
  --white: rgb(255, 255, 255);
  --font-family: "Suit", sans-serif;
  --main_tit: 2.125rem;
  --sub_tit: 1.5rem;
  --list_tit: 1.25rem;
  --basic_txt: 1rem;
  --sub_txt: 0.875rem;
  --point_txt: 0.75rem;
  --basic_space: -0.1rem;
}

body {
  letter-spacing: var(--basic_space, -0.1rem);
  font-family: var(--font-family, "Suit", sans-serif);
  line-height: normal;
}

div, dl, ol, ul, li, h1, h2, h3, h4, h5, h6, p, button {padding: 0; margin: 0;}

/* container */
.container_full {max-width:var(--container_full, 1800px); margin:0 auto; padding:0 30px; width:100%;}
.container {max-width:var(--container, 1440px); margin:0 auto; padding:0; position:relative; width:100%;}

/* font */
.main_tit {font-size:var(--main_tit, 2.125rem);}
.sub_tit {font-size:var(--sub_tit, 1.5rem);}
.list_tit {font-size:var(--list_tit, 1.25rem);}
.basic_txt {font-size:var(--basic_txt, 1rem);}
.sub_txt {font-size:var(--sub_txt, 0.875rem);}
.point_txt {font-size:var(--point_txt, 0.75rem);}

/* color */
.organic {color:var(--main_color, rgba(63, 66, 47, 1));}
.ivory{color:var(--sub_ivory, rgba(250, 245, 238, 1));}
.apricot{color:var(--sub_apricot, rgba(214, 139, 48, 1));}
.panBlack{color:var(--sub_panBlack, rgba(51, 46, 42, 1));}

/* basic */
.black {color:var(--black, rgba(17, 17, 17, 1));}
.gray1 {color:var(--gray_1, rgba(68, 68, 68, 1));}
.gray2 {color:var(--gray_2, rgba(69, 69, 69, 1));}
.gray3 {color:var(--gray_3, rgba(119, 119, 119, 1));}
.gray4 {color:var(--gray_4, rgba(221, 221, 221, 1));}
.gray5 {color:var(--gray_5, rgba(246, 246, 246, 1));}
.white {color:var(--white, rgb(255, 255, 255));}

/* background */
.organic_bg {background:var(--main_color, rgba(63, 66, 47, 1));}
.ivory_bg{background:var(--sub_ivory, rgba(250, 245, 238, 1));}
.apricot_bg{background:var(--sub_apricot, rgba(214, 139, 48, 1));}
.panBlack_bg{background:var(--sub_panBlack, rgba(51, 46, 42, 1));}

/* background_basic */
.black_bg {background:var(--black, rgba(17, 17, 17, 1));}
.gray1_bg {background:var(--gray_1, rgba(68, 68, 68, 1));}
.gray2_bg {background:var(--gray_2, rgba(69, 69, 69, 1));}
.gray3_bg {background:var(--gray_3, rgba(119, 119, 119, 1));}
.gray4_bg {background:var(--gray_4, rgba(221, 221, 221, 1));}
.gray5_bg {background:var(--gray_5, rgba(246, 246, 246, 1));}
.white_bg {background:var(--white, rgb(255, 255, 255));}

/* width / height */
.w-0 {
  width: 0 !important;
}
.h-0 {
  height: 0 !important;
}

.p100 {padding: 6.25rem 0;}

.same_btn {
  width:100%;
  max-width:230px;
  padding:10px 0;
  border-radius:50px;
  font-weight:700;
  letter-spacing: -1px;
}

.deskTop {display: block;}
.mobile {display: none;}


@media (max-width:991px) {
  .container_full {width:94%; padding:0;}
  .container {width:94%;}
  .p100 {padding:50px 0;}
  .main_tit {font-size:1.75rem;}
  .sub_tit {font-size:1.25rem}
  .deskTop {display: none;}
  .mobile {display: block;}
}

