.quick-menu {
    position: fixed;
    bottom: 2.5rem; // 40px
    right: 3.125rem; // 50px
    width: 4.375rem; // 70px
    height: 17.5rem; // 280px
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }
  
  .quick-btn {
    width: 4.375rem; // 70px
    height: 4.375rem; // 70px
    border: 0.0625rem solid var(--gray_4); // 1px
    flex-direction: column;
    font-weight: 500;
    text-align: center;
    border-top: none;
    justify-content: center;
  
    &:first-child {
      border-top: 0.0625rem solid var(--gray_4); // 1px
    }
  
    svg {
      width: 1.5rem; // 24px
      height: 1.5rem; // 24px
    }
    
    span {
      display: block;
    }
  }
  
  .btn-reserve {
    border-radius: 10% 10% 0 0;
  }
  
  
  .btn-top {
    border-radius: 0 0 10% 10%;
  }

//사이드퀵메뉴
.quick-menu {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    &.show {
        transform: translateX(0);
        opacity: 1;
    }
}
//--사이드퀵메뉴